   /*@import 'https://fonts.googleapis.com/css?family=Raleway';*/
   /*
Global variables
*/
   
    :root {
       --backgroundPrimary: #23272A;
       --backgroundSecondary: #383B3D;
       --primaryColor: rgba(128, 0, 128, 0.8);
       --textColor: rgba(255, 255, 255, 0.8);
       --borderColor: rgba(255, 255, 255, 0.2);
       --hoverColor: rgba(142, 133, 133, 0.8);
       --rowHeight: 14px;
   }
   
   body {
       background-color: var(--backgroundPrimary);
       max-width: 100%;
       margin: 0px;
       width: 100%;
       height: 100%;
       font-family: arial;
   }
   
   .grid-container {
       display: grid;
       color: var(--textColor);
       grid-template-columns: 20% 1fr;
       /* 1fr fills the remaning space */
       grid-template-rows: auto auto 1fr auto;
       background-color: var(--backgroundPrimary);
       min-height: 100%;
       column-gap: 10px;
       row-gap: 10px;
   }
   /*
A general grid item styling that should affect all 4 grid items
Needs to be above other grid items so it can be overriden
*/
   
   .grid-item {
       width: 100%;
       text-align: center;
       border-radius: 4px;
   }
   /*
Specific grid items
*/
   
   .header-grid-item {
       grid-area: header;
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 1;
       grid-row-end: 2;
       text-align: center;
   }
   
   .logo {
       margin-top: 10px;
       margin-left: auto;
       margin-right: auto;
   }
   
   .nav-grid-item {
       grid-area: nav;
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 2;
       grid-row-end: 3;
       font-size: 20px;
   }
   
   .sidebar-grid-item {
       grid-area: sidebar;
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 3;
       grid-row-end: 4;
       background-color: var(--backgroundSecondary);
       font-size: 20px;
   }
   
   .main-grid-item {
       grid-area: main;
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 3;
       grid-row-end: 4;
   }
   
   .footer-grid-item {
       grid-area: footer;
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 4;
       grid-row-end: 5;
       /*testing*/
       font-size: 18px;
   }
   /*testing purposes*/
   
   h1 {
       margin-left: auto;
       margin-right: auto;
       text-align: center;
   }
   /*
Changing colors of links, both wehn visited and before
*/
   /* unvisited link */
   
   a:link {
       color: rgba(255, 255, 255, 0.8);
   }
   /* visited link */
   
   a:visited {
       color: green;
   }
   /* mouse over link */
   
   a:hover {
       color: hotpink;
   }
   /* selected link */
   
   a:active {
       color: blue;
   }
   /* 

Tabs for header 

*/
   
   .tabLinks {
       overflow: hidden;
       font-size: 0px;
   }
   /* 
   Style for header buttons
   */
   
   .tabLink {
       position: relative;
       background-color: var(--backgroundSecondary);
       color: var(--textColor);
       outline: none;
       border: none;
       cursor: pointer;
       padding: var(--rowHeight) 16px;
       font-size: 17px;
       width: 25%;
   }
   /*
   Animation for header buttons
   */
   
   .tabLink:after {
       position: absolute;
       transition: .3s;
       content: '';
       width: 0;
       left: 50%;
       bottom: 0;
       height: 3px;
       background: var(--primaryColor);
   }
   
   .tabLink:hover {
       background-color: var(--hoverColor);
       cursor: pointer;
   }
   
   .tabLink:hover:after {
       width: 100%;
       left: 0;
   }
   
   #eventBar {
       font-size: 0px;
       background-color: var(--backgroundPrimary);
       width: auto;
   }
   
   .sideBarButton {
       white-space: normal;
       margin-top: 1px;
       background-color: var(--backgroundSecondary);
       color: var(--textColor);
       border: none;
       outline: none;
       cursor: pointer;
       padding: var(--rowHeight);
       /*border-bottom: 1px solid var(--borderColor);
       border-top: 1px solid var(--borderColor);*/
       font-size: 17px;
       width: 100%;
   }
   
   .sideBarButton:hover {
       background-color: var(--hoverColor);
   }
   
   .notransition {
       transition: none !important;
   }
   /** main content tags*/
   
   #tabcontent {
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       margin: 0px;
   }
   
   .content-row-match {
       cursor: pointer;
       display: grid;
       grid-template-columns: auto auto auto;
       grid-template-rows: auto;
       max-width: 100%;
       margin-top: 1px;
       background-color: var(--backgroundSecondary);
   }
   
   .content-row-match div {
       padding: var(--rowHeight) 0px;
   }
   
   .content-row-match:hover {
       background-color: var(--hoverColor);
   }
   
   .content-row-item {
       max-width: 100%;
   }
   
   .teams {
       grid-column-end: 1;
   }
   
   .odds1 {
       grid-column-start: 1;
       grid-column-end: 2;
   }
   
   .odds2 {
       grid-column-start: 2;
       grid-column-end: 3;
   }
   
   .matchTime {
       grid-column-start: 3;
       grid-column-end: 4;
       border-right: 0px;
   }
   /*
   login css
   */
   
   .loginPage {
       color: var(--textColor);
       width: min-content;
       border-radius: 10px;
       background-color: var(--backgroundSecondary);
       margin-left: auto;
       margin-right: auto;
       padding-top: 20px;
       padding-left: 100px;
       padding-right: 100px;
       padding-bottom: 20px;
   }
   
   .loginLabel {
       padding: 5px;
   }
   
   .loginButton {
       color: var(--textColor);
       padding: 10px 30px;
       font-size: 17px;
       border: none;
       border-radius: 3px;
       background-color: var(--primaryColor);
   }
   
   .logoLogin {
       padding-top: 40px;
       text-align: center;
   }
   
   .registerLink {}