<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>


<body>
    <div class="grid-item header-grid-item">
        <%- include('view/header'); -%>

    </div>
    <div class="aboutHeader">
        <h1>Team Name: eBet</h1>

        <h2>About summary</h2>
        <p>We created this website for the course Software Development for the Web.</p>
        <p>And tried to create a betting website, we choose to focus on e-sports, as this is more of a proof of concept then a completed website.</p>
        <p>We have only done the CSGO part and not implemented the actuall handling of money..</p>
    </div>

    <div class="grid-container-about">
        <div class="grid-item about-grid-item-rasmus ">

            <h2>Rasmus</h2>
            <p><b>Focus Area:</b>
                <p>Worked on backend and Node.js,</p>
                <p>REST API,</p>
                <p>Database, </p>
                <p>JavaScript </p>
        </div>
        <div class="grid-item about-grid-item-johan ">
            <h2>Johan</h2>
            <p><b>Focus Area:</b>
                <p>Worked on fronted CSS,</p>
                <p>HTML,</p>
                <p>Design,</p>
                <p>JavaScript </p>
        </div>

    </div>
    <div class="account-footer-wrap">
        <div class="grid-item footer-grid-item">
            <%- include('view/footer'); -%>
        </div>
    </div>



</body>

</html>