<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="grid-container">

        <div class="grid-item grid-item-header">1
            <%- include('view/header'); -%>
        </div>


        <div class="grid-item grid-item-sidebar">
            sidebar
        </div>

        <div class="grid-item grid-item-main">


            <ul>
                TODO
                <li>
                    colors that blend better
                </li>
                <li>
                    everything basically
                </li>
            </ul>
        </div>

        <div class="grid-item grid-item-footer">
            <%- include('view/footer'); -%>
        </div>

    </div>

    <script type="text/javascript" src="../js/fetch.js"></script>

</body>

</html>