<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="grid-container">
        <div class="grid-item-header">1
            <%- include('includes/header'); -%>
        </div>
    </div>

    <h1>Home</h1>


    <script type="text/javascript" src="../js/test.js"></script>

</body>

</html>