<!DOCTYPE html>
<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="grid-container-home">

        <div class="grid-item header-grid-item">
            <%- include('view/header'); -%>
        </div>

        <div class="grid-item content-nav-grid-item">
            <div class="tabLinks">
                <button class="tabLink" onclick="openSport(event, 'CSGO', 'var(--primaryColor)')" id="defaultOpen">CS:GO</button>
                <button class="tabLink" onclick="openSport(event, 'LOL', 'var(--primaryColor)')">LOL</button>
                <button class="tabLink" onclick="openSport(event, 'DOTA2', 'var(--primaryColor)')">DOTA2</button>
                <button class="tabLink" onclick="openSport(event, 'OW', 'var(--primaryColor)')">OW</button>
            </div>
        </div>

        <div class="grid-item sidebar-grid-item">
            <h1 id="sidebarHeader">sidebar</h1>
            <div id="eventBar"></div>
        </div>

        <div class="grid-item main-grid-item">
            <div id="tabcontent"></div>
        </div>

        <div class="grid-item footer-grid-item">
            <%- include('view/footer'); -%>
        </div>

    </div>

    <script type="text/javascript" src="../js/globals.js"></script>
    <script type="text/javascript" src="../js/fillMatchTables.js"></script>
    <script type="text/javascript" src="../js/sidebarFiller.js"></script>
    <script type="text/javascript" src="../js/openSport.js"></script>

</body>

</html>