<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="grid-container">

        <div class="grid-item header-grid-item">
            <%- include('view/header'); -%>
        </div>

        <div class="grid-item nav-grid-item">
            <%- include('view/mainNav'); -%>
        </div>

        <div class="grid-item sidebar-grid-item">
            <%- include('view/sidebar'); -%>
        </div>

        <div class="grid-item main-grid-item">
            <div id="tabcontent">

            </div>
        </div>

        <div class="grid-item footer-grid-item">
            <%- include('view/footer'); -%>
        </div>

    </div>

    <script type="text/javascript" src="../js/globals.js"></script>
    <script type="text/javascript" src="../js/fillMatchTables.js"></script>
    <script type="text/javascript" src="../js/sidebarFiller.js"></script>
    <script type="text/javascript" src="../js/openSport.js"></script>


</body>

</html>