<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="grid-container">

        <div class="grid-item grid-item-header">
            <%- include('view/header'); -%>
        </div>

        <div class="grid-item grid-item-sidebar">
            <%- include('view/sidebar'); -%>
        </div>

        <div class="grid-item grid-item-main">

            <div id="CSGO" class="tabcontent">
                <h1>CS:GO</h1>
                <p>H채r kommer allt skit vara</p>
            </div>
            <div id="LOL" class="tabcontent">
                <h1>Leauge of Legends</h1>
                <p>H채r kommer allt skit vara</p>
            </div>
            <div id="DOTA2" class="tabcontent">
                <h1>DOTA2</h1>
                <p>H채r kommer allt skit vara</p>
            </div>
            <div id="VETEJ" class="tabcontent">
                <h1>VET EJ</h1>
                <p>H채r kommer allt skit vara</p>
            </div>
        </div>

        <div class="grid-item grid-item-footer">
            <%- include('view/footer'); -%>
        </div>

    </div>

    <script type="text/javascript" src="../js/globals.js"></script>
    <script type="text/javascript" src="../js/sidebarFiller.js"></script>
    <script type="text/javascript" src="../js/openSport.js"></script>


</body>

</html>