<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <%- include('view/header'); -%>

        <% if (messages.error) { %>
            <%= messages.error %>
                <% } %>
                    <div class="loginPage">
                        <form class="loginLabel" action="/login" method="POST">
                            <div class="loginLabel">
                                <label for="email">Email</label>
                            </div>
                            <div class="loginLabel">
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div class="loginLabel">
                                <label for="password">Password</label>
                            </div>
                            <div class="loginLabel">
                                <input type="password" id="password" name="password" required>
                            </div>
                            <div class="loginLabel">
                                <button class="loginButton" type="submit">Login</button>
                            </div>
                            <div class="loginLabel">
                                <a href="/Register">Register</a>
                            </div>

                        </form>

                    </div>
</body>