<footer>
    <div class="grid-container-about">
        <div class="grid-item footer-grid-item-left">
            <p>About</p>
            <p>Här kommer det stå en förkortning av vad sidan handlar om</p>

        </div>
        <div class="grid-item footer-grid-item-right">
            <ul class="footerLinks">
                <li><a href="/home/about">About</a></li>
                <li><a href="https://github.com/RalleOlsson/websoft-betting-project">Github</a></li>
            </ul>
        </div>

    </div>
</footer>