<footer>

    <p>Github: <a href="https://github.com/RalleOlsson">https://github.com/RalleOlsson</a> | email: R.olsson96@gmail.com</p>
    <p>Github: <a href="https://github.com/Lavitz87">https://github.com/Lavitz87</a> | email: perjohangranberg0025@stud.hkr.se</p>
</footer>