<footer>
    <div class="grid-container-about">
        <div class="grid-item footer-grid-item-left">
            <p><b>About summary</b></p>
            <p>We created this website for the course Software Development for the Web.</p>
            <p>And tried to create a betting website, we choose to focus on e-sports, as this is more of a proof of concept then a completed website.</p>
            <p>We have only done the CSGO part and not implemented the actuall handling of money.</p>
        </div>
        <div class="grid-item footer-grid-item-right">
            <ul class="footerLinks">
                <li><a href="/home/about">About</a></li>
                <li><a href="https://github.com/RalleOlsson/websoft-betting-project">Github</a></li>
            </ul>
        </div>

    </div>
</footer>