<footer>

    <h1 style="color: var(--textColor);">Play Responsibly</h1>

    <ul class="footerLinks">
        <li><a href="/home/about">About us</a></li>
        <li><a href="https://github.com/RalleOlsson/websoft-betting-project">Github</a></li>
    </ul>


</footer>