<!doctype html>
<html lang="en">

<h2>Welcome to our site, give us all your moneyeis</h2>


<div class="tabLinks">
    <button class="tabLink" onclick="openSport(event, 'CSGO', 'rgba(255, 165, 0, 0.8)')" id="defaultOpen">CS:GO</button>
    <button class="tabLink" onclick="openSport(event, 'LOL', 'rgba(0, 0, 255, 0.8)')">LOL</button>
    <button class="tabLink" onclick="openSport(event, 'DOTA2', 'rgba(255, 0, 0, 0.8)')">DOTA2</button>
    <button class="tabLink" onclick="openSport(event, 'VETEJ', 'rgba(0, 165, 0, 0.8)')">Vet Ej</button>
</div>

</header>