<!doctype html>
<html lang="en">

<div class="tabLinks">
    <button class="tabLink" onclick="openSport(event, 'CSGO')" id="defaultOpen">CS:GO</button>
    <button class="tabLink" onclick="openSport(event, 'LOL')">LOL</button>
    <button class="tabLink" onclick="openSport(event, 'DOTA2')">DOTA2</button>
    <button class="tabLink" onclick="openSport(event, 'VETEJ')">Vet Ej</button>
</div>

</header>