<header>

    <nav class="navigation">

        <a href="/home" alt="Home">Home</a>
        <a href="/account" alt="Account">Account</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">logout</button>
        </form>

    </nav>

    <div class="logo">
        <img src="../img/logo.png" class="logo" alt="logo" width="350" height="150">
    </div>

</header>