<div class="tabLinks">
    <button class="tabLink" onclick="openSport(event, 'CSGO', 'orange')" id="defaultOpen">CS:GO</button>
    <button class="tabLink" onclick="openSport(event, 'LOL', 'blue')">LOL</button>
    <button class="tabLink" onclick="openSport(event, 'DOTA2', 'red')">DOTA2</button>
    <button class="tabLink" onclick="openSport(event, 'VETEJ', 'green')">Vet Ej</button>
</div>