<div class="tabLinks">
    <button class="tabLink" onclick="openSport(event, 'CSGO', 'var(--primaryColor)')" id="defaultOpen">CS:GO</button>
    <button class="tabLink" onclick="openSport(event, 'LOL', 'var(--primaryColor)')">LOL</button>
    <button class="tabLink" onclick="openSport(event, 'DOTA2', 'var(--primaryColor)')">DOTA2</button>
    <button class="tabLink" onclick="openSport(event, 'VETEJ', 'var(--primaryColor)')">Vet Ej</button>
</div>