<html lang="en">
<<<<<<< HEAD
<h1>sidebar</h1>
=======
<h1 id="sidebarHeader">sidebar</h1>
<input type="button" id="btnAdd" value="Add">
>>>>>>> c99dd2c8d9a79bfead421491321f26a34c0094eb
<div id="eventBar"></div>